<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @water_supplier.name %>
</p>

<%= link_to 'Edit', edit_water_supplier_path(@water_supplier) %> |
<%= link_to 'Back', water_suppliers_path %>
