<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @water_counter_type.name %>
</p>

<%= link_to 'Edit', edit_water_counter_type_path(@water_counter_type) %> |
<%= link_to 'Back', water_counter_types_path %>
