<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sampling_parameter.name %>
</p>

<%= link_to 'Edit', edit_sampling_parameter_path(@sampling_parameter) %> |
<%= link_to 'Back', sampling_parameters_path %>
