<table class="table table-condensed table-striped table-bordered table-hover no-margin">
	<thead>
		<tr>
			<th>שם שוחה</th>
			<th>סוג</th>
			<th>תמונה</th>
			<th>תיאור כללי</th>
			<th>נ"צ</th>
			<th>דיגומי חטף מתוכננים</th>
			<th>דיגומים מורכבים מתוכננים</th>
			<th>מחק</th>
		</tr>
	</thead>
	<tbody>
		<%= f.fields_for :pits do |builder| %>
    		<%= render partial: 'pit_fields', locals: { f: builder} %>
  		<% end %>
	</tbody>
</table>  


 

  <%= link_to_add_fields "Add Pit", f, :pits %>