<div data-role="header">
  <h1>Editing Digom</h1>
  <%= link_to 'Delete', @digom, :method => :delete, "data-icon" => "delete", "class" => "ui-btn-left" %>
<%= link_to 'Home', digoms_url, "class" => "ui-btn-right" %>
  
</div>
 
<div data-role="content">
  <%= render 'form' %>
</div>
