<div data-role="header">
  <h1><%= t('update_sampling') %></h1>
  <%= link_to t('delete'), @digom, :method => :delete, "data-icon" => "delete", "class" => "ui-btn-left" %>
<%= link_to t('home'), digoms_url, "class" => "ui-btn-right" %>
  
</div>
 
<div data-role="content">
  <%= render 'form' %>
</div>
