<div data-role="header">
  <h1>Listing Digomim</h1>
  <%= link_to 'Add', new_digom_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>
 
<div data-role="content">
  <ul data-role="listview">
    <% @digoms.each do |digom| %>
    <li>
      <%= link_to digom.corp, digom %>
      <%= link_to 'edit digom', edit_digom_path(digom), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>

