<div data-role="header">
  <h1><%=t('digoms_list') %></h1>
  <%= link_to t('add'), new_digom_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>
 
<div data-role="content">
  <ul data-role="listview">
    <% @digoms.each do |digom| %>
    <li>
      <%= link_to digom.digomId, digom %>
      <%= link_to t('edit'), edit_digom_path(digom), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>

